<div>
  <h1>Entrepôts</h1>
  <nz-table #basicTable [nzData]="entrepots" nzBordered>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Lieu</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entrepot of entrepots">
        <td>{{ entrepot.id }}</td>
        <td>{{ entrepot.nom }}</td>
        <td>{{ entrepot.location }}</td>
        <td>
          <button nz-button nzType="default" class="btn-edit" (click)="editEntrepot(entrepot.id)">Modifier</button>
          <button nz-button nzType="primary" nzDanger (click)="deleteEntrepot(entrepot.id)">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <button nz-button nzType="primary" routerLink="/entrepots/new">Créer un nouvel entrepôt</button>
  <button nz-button nzType="default" (click)="navigateBack()">Précédent</button>
</div>
