<div class="container" *ngIf="article">
  <h1>Détails de l'Article</h1>
  <div class="details">
    <p><strong>Numéro de série:</strong> {{ article.serialNumber || 'N/A' }}</p>
    <p><strong>Nom:</strong> {{ article.nom || 'N/A' }}</p>
    <p><strong>Longueur:</strong> {{ article.longueur || 'N/A' }}</p>
    <p><strong>Largeur:</strong> {{ article.largeur || 'N/A' }}</p>
    <p><strong>Hauteur:</strong> {{ article.hauteur || 'N/A' }}</p>
    <p><strong>Catégorie:</strong> {{ article.categorie || 'N/A' }}</p>
    <p><strong>Entrepôt:</strong> {{ article.entrepot?.nom || 'N/A' }}</p>
    <p><strong>Fabricant:</strong> {{ article.fabricant?.name || 'N/A' }}</p>
    <p><strong>Fournisseur:</strong> {{ article.fournisseur?.name || 'N/A' }}</p>
  </div>
  <div class="qr-code">
    <img *ngIf="article.codeQr" [src]="'data:image/png;base64,' + article.codeQr" alt="Code QR" />
  </div>
  <button nz-button nzType="primary" (click)="downloadQr()">Télécharger le Code QR</button>
  <button nz-button nzType="default" routerLink="/articles">Précédent</button>
  <button nz-button nzType="default" class="btn-edit" routerLink="/articles/edit/{{ article.serialNumber }}">Modifier</button>
</div>
