<div class="form-container">
  <h1>{{ entrepotForm.get('id')?.value == null ? 'Create New Entrepot' : 'Edit Entrepot' }}</h1>
  <form [formGroup]="entrepotForm" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id" />
    
    <label for="nom">Name:</label>
    <input type="text" id="nom" formControlName="nom" required/>
    
    <label for="location">Location:</label>
    <input type="text" id="location" formControlName="location" required/>
    
    <button type="submit">Save</button>
  </form>
  <a routerLink="/entrepots" class="back-button">Précédent</a>
</div>
