<div class="form-container">
  <h1>{{ fournisseurForm.get('id')?.value == null ? 'Créer un nouveau fournisseur' : 'Modifier le fournisseur' }}</h1>
  <form [formGroup]="fournisseurForm" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id" />

    <label for="name">Nom:</label>
    <input nz-input type="text" id="name" formControlName="name" required/>

    <button nz-button nzType="primary" type="submit">Enregistrer</button>
  </form>
  <button nz-button nzType="default" routerLink="/fournisseurs" class="back-button">Précédent</button>
</div>
