<div class="form-container">
  <h1>{{ fabricantForm.get('id')?.value == null ? 'Créer un nouveau fabricant' : 'Modifier le fabricant' }}</h1>
  <form [formGroup]="fabricantForm" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id" />

    <label for="name">Nom:</label>
    <input nz-input type="text" id="name" formControlName="name" required/>

    <button nz-button nzType="primary" type="submit">Enregistrer</button>
  </form>
  <button nz-button nzType="default" routerLink="/fabricants" class="back-button">Précédent</button>
</div>
