<div class="container">
  <h1>Application de Gestion des Articles avec QR Code</h1>
  <h2>Articles</h2>
  <nz-table #basicTable [nzData]="articles" nzBordered>
    <thead>
      <tr>
        <th>Numéro de série</th>
        <th>Nom</th>
        <th>Longueur</th>
        <th>Largeur</th>
        <th>Hauteur</th>
        <th>Catégorie</th>
        <th>Entrepôt</th>
        <th>Fabricant</th>
        <th>Fournisseur</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of articles">
        <td>{{ article.serialNumber }}</td>
        <td>{{ article.nom }}</td>
        <td>{{ article.longueur }}</td>
        <td>{{ article.largeur }}</td>
        <td>{{ article.hauteur }}</td>
        <td>{{ article.categorie }}</td>
        <td>{{ article.entrepot?.nom || 'Aucun Entrepôt' }}</td>
        <td>{{ article.fabricant?.name || 'Aucun Fabricant' }}</td>
        <td>{{ article.fournisseur?.name || 'Aucun Fournisseur' }}</td>
        <td>
          <button nz-button nzType="default" class="btn-affiche" (click)="viewArticle(article.serialNumber)">Voir</button>
          <button nz-button nzType="default" class="btn-edit" (click)="editArticle(article.serialNumber)">Modifier</button>
          <button nz-button nzType="primary" nzDanger (click)="deleteArticle(article.serialNumber)">Supprimer</button>
          <button nz-button nzType="primary" (click)="downloadQr(article.serialNumber)">Télécharger le QR</button>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <h2>Créer un nouvel Article</h2>
  <button nz-button nzType="primary" routerLink="/articles/new">Créer un nouvel Article</button>

  <h2>Télécharger le Code QR</h2>
  <button nz-button nzType="primary" routerLink="/articles/upload">Télécharger le Code QR</button>

  <button nz-button nzType="default" routerLink="/welcome">Précédent</button>
</div>
