<div class="container">
  <h1>{{ articleId ? 'Modifier l\'Article' : 'Créer un nouvel Article' }}</h1>
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="serialNumber" />

    <div class="form-group">
      <label for="nom">Nom:</label>
      <input nz-input type="text" id="nom" formControlName="nom" required />
      <input type="checkbox" formControlName="includeNom" /> Inclure dans QR
    </div>

    <div class="form-group">
      <label for="longueur">Longueur:</label>
      <input nz-input type="text" id="longueur" formControlName="longueur" required />
      <input type="checkbox" formControlName="includeLongueur" /> Inclure dans QR
    </div>

    <div class="form-group">
      <label for="largeur">Largeur:</label>
      <input nz-input type="text" id="largeur" formControlName="largeur" required />
      <input type="checkbox" formControlName="includeLargeur" /> Inclure dans QR
    </div>

    <div class="form-group">
      <label for="hauteur">Hauteur:</label>
      <input nz-input type="text" id="hauteur" formControlName="hauteur" required />
      <input type="checkbox" formControlName="includeHauteur" /> Inclure dans QR
    </div>

    <div class="form-group">
      <label for="categorie">Catégorie:</label>
      <input nz-input type="text" id="categorie" formControlName="categorie" required />
      <input type="checkbox" formControlName="includeCategorie" /> Inclure dans QR
    </div>

<!-- Entrepot Field -->
<div class="form-group entrepot-group">
  <label for="entrepot">Entrepot:</label>
  <select id="entrepot" formControlName="entrepot" required>
    <option *ngFor="let entrepot of entrepots" [value]="entrepot">{{ entrepot.nom }}</option>
  </select>
  <div class="checkbox-group">
    <input type="checkbox" formControlName="includeEntrepot" />
    <label for="includeEntrepot">Inclure Entrepot</label>
  </div>
</div>

<!-- Fabricant Field -->
<div class="form-group fabricant-group">
  <label for="fabricant">Fabricant:</label>
  <select id="fabricant" formControlName="fabricant" required>
    <option *ngFor="let fabricant of fabricants" [value]="fabricant">{{ fabricant.name }}</option>
  </select>
  <div class="checkbox-group">
    <input type="checkbox" formControlName="includeFabricant" />
    <label for="includeFabricant">Inclure Fabricant</label>
  </div>
</div>

<!-- Fournisseur Field -->
<div class="form-group fournisseur-group">
  <label for="fournisseur">Fournisseur:</label>
  <select id="fournisseur" formControlName="fournisseur" required>
    <option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur">{{ fournisseur.name }}</option>
  </select>
  <div class="checkbox-group">
    <input type="checkbox" formControlName="includeFournisseur" />
    <label for="includeFournisseur">Inclure Fournisseur</label>
  </div>
</div>



    <button nz-button nzType="primary" type="submit">{{ articleId ? 'Mettre à jour' : 'Enregistrer' }}</button>
    <button nz-button nzType="default" routerLink="/articles" class="back-button">Précédent</button>
  </form>
</div>
